<!DOCTYPE html>
<html lang="en">
<style>
ion-icon{
	font-size: 30px;
}
</style>
<head>
	{%- include head.html -%}
</head>
<body>
	<main class="container">
		<section class="about">
			<a href = "https://oscarjin.github.io/">
			<img src="{{ "/assets/portfolio.png" | relative_url }}" alt="{{ site.plainwhite.name }}"></a>
			<h2>{{ site.plainwhite.name }}</h2>
			<p class="tagline">{{ site.plainwhite.tagline }}</p>
			<ul class="social">
				<a href="https://github.com/{{ site.plainwhite.social_links.github }}"><li><ion-icon name="logo-github"></ion-icon></li></a>
				<!-- <a href="https://www.linkedin.com/{{ site.plainwhite.social_links.linkedIn }}"><li><i class="icon-linkedin-squared"></i></li></a> -->
				<a href="https://twitter.com/{{ site.plainwhite.social_links.twitter }}"><li><ion-icon name="logo-twitter"></ion-icon></li></a>
				<!--<a href="https://leetcode.com/{{ site.plainwhite.social_links.leetcode }}"><li><ion-icon name="code-working"></ion-icon></li></a>--> 
				<a href = "mailto:oscarjin0908@gmail.com"><li><ion-icon name="mail"></ion-icon></li></a>
			</ul>
			<p>&copy; 2020</p>
		</section>
		<section class="content">
			{{ content }}
		</section>
	</main>
	{%- if site.plainwhite.analytics_id -%}
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.plainwhite.analytics_id }}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', '{{ site.plainwhite.analytics_id }}');
	</script>
	{%- endif -%}
	<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>
</html>
